body {
    margin: 0 auto;
    padding:0;
    font-family: helvetica;
    text-align:center;
    padding-top:70px;
    background-color:#474747;
  }
  
  .container {
    margin:0 auto;
    background-color:#236ea8;
    width:75%;
    max-width: 350px;
    height: 560px;
    border-radius:0px;
    color:white;
    padding:10px;
    border-radius:7px;
    
  }
  
  .title {
    margin:0 auto;
    text-align:center;
    background-color:white;
    color:#236ea8;
    margin-top:50px;
    font-size:27px;
    width:75%;
    padding:10px;
    margin-bottom:20px;
    
  }
  
  #total {
    text-align:center;
    font-size: 20px;
    width: 75%;
    margin-top:10px;
    margin-bottom:40px;
    border-radius:10px;
    border:none;
    padding:10px;
  }
  
  #button {
    padding:14px;
    border:none;
    border-radius:4px;
    font-size:15px;
    transition: .1s ease-in-out;
    width: 60%;
    margin-bottom:10px;
  }
 
  #button:hover {
    transform: scale(1.1);
    cursor:pointer;
    color:#236ea8;
    border:none;
  }

  .result {
    text-align: left;
    margin-bottom:20px;
    padding-top:20px;
    padding-left:35px;
    

}

.result label {
  margin-bottom:30px;
  
}

.result span {
  margin-left:10px;
  
}
.percentage {
  padding-left:10px;
  padding-top:7px;
  padding-bottom:7px;
  background-color: white;
  color:#236ea8;
  width:90%;
  border-radius: 7px;
}
