@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
  box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding:0;
    font-family:roboto;
    text-align:center;
    padding-top:70px;
    background-color:#c6ed84;
    text-transform: uppercase;
  }
  .container {
    margin:0 auto;
    background-color:#849e91;
    width:65%;
    max-width: 250px;
    box-shadow: black 0 0 6px 1px;
    border-radius:0px;
    color:white;
    box-sizing:border-box;
    height:300px;
    margin-bottom:200px;
    }
  .title {
    margin:0 auto;
    text-align:center;
    background-color:#849e91;
    color:white;
    font-size:27px;
    width:100%;
    padding:10px;
    font-weight: 100;
    border-bottom: solid 1px lightgray;
    }
  #total {
    text-align:right;
    font-size: 20px;
    width:100%;
    border:none;
    border-bottom:solid gray 1px;;
    padding:10px;
    height: 50px;
  }
  #total:focus {
    outline:none;
    background-color: gainsboro;
  }
  #total::placeholder{
    opacity: .4;;
  }
  #button {
    padding:10px;
    border:none;
    font-size:15px;
    transition: .1s ease-in-out;
    width: 100%;
    font-weight: 100;
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    border:none;
    box-sizing:border-box;
    height: 50px;
    }
  #button:hover {
    cursor:pointer;
    color:#849e91;
    }
  #button:focus{
      outline:none;
    }
  .result {
    display: inline;
    
  }
  .result input {
   float: left;
   text-align:right;
   width:100%;
   padding:7px;
   border:none;
   font-size:20px;
   border-bottom: solid grey 1px;
   height: 50px;
  }
.result input::placeholder{
  opacity:.4;
  }

.result input:focus {
  outline:none;
}
.result-display {
  margin:0 auto;

}
.result-display h1 {
  font-weight: 100;
  
}
footer {
  color:black;
  opacity: 0.6;
  font-size:14px;

}