@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Baloo');
* {
  box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding:0;
    font-family:roboto;
    text-align:center;
    padding-top:70px;
    background-color:#EFF2C0;
    text-transform: uppercase;
  }
  .container {
    margin:0 auto;
    background-color:#ffffff;
    width:400px;
    border-radius:0px;
    color:rgb(0, 0, 0);
    box-sizing:border-box;
    height:630px;
    margin-bottom:120px;
    -webkit-box-shadow: 0px 30px 61px 21px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 30px 61px 21px rgba(0,0,0,0.37);
    box-shadow: 0px 30px 61px 21px rgba(0,0,0,0.37);
    border-radius:20px;
    border-top-left-radius: 20px;
    }
  .title {
    margin:0 auto;
    text-align:center;
    background-color:#A52422;
    color:white;
    font-size:27px;
    width:100%;
    padding:10px;
    font-weight: 100;
   
    font-family:baloo;
    font-size:60px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
  #total {
    text-align:center;
    font-size: 40px;
    width:100%;
    border:none;
    border-bottom:solid gray 1px;;
    padding:10px;
    height: 60px;
    font-family:Baloo;
    font-weight:100;
  }
  #total:focus {
    outline:none;
    background-color: rgb(230, 230, 230);
  }
  #total::placeholder{
    opacity: .4;;
  }
  #button {
    padding:10px;
    border:none;
    font-size:23px;
    width: 50%;
    font-weight: 100;
    border:none;
    box-sizing:border-box;
    height: auto;
    background:#000;
    color:white;
    border-radius:20px;
    font-family:Baloo;
    }
  #button:hover {
    cursor:pointer;
    
    }
  #button:focus{
      outline:none;
    }

    #button:active 
    {
      background:#A52422;
      color:white;
    }
  .result {
    display: block; /*was inline*/
    
  }
  .result select 
  {
   float: left;
   text-align:center;
   width:100%;
   padding:7px;
   border:none;
   font-size:20px;
   border-bottom: solid grey 1px;
   height: 50px;
   outline:none;
  margin-bottom:0px; 
    
 }
.result input::placeholder{
  opacity:.4;
  }

.result input:focus {
  outline:none;
}
.result-display {
  margin:0 auto;

}
.result-display h1 {
  font-weight:300;
  font-size: 70px;
  font-family:Baloo;
  
}
footer {
  color:black;
  opacity: 0.6;
  font-size:14px;

}

#dropdown
{
  font-size:30px;
  padding-left:0;
  font-family:Baloo;
  height:auto;
   margin-bottom:30px;
 
}

option
{
  text-align:right;
  padding-left:0%;
}

.result-display h3
{

  font-size:40px;
}

footer
{
  font-family:Baloo;
  font-size:20px;
}

@media only screen and (max-width: 600px) {
  body
  {
    padding-top:0px;
  }
  .container 
  {
    width:100%;
    border-radius:0px;
  }
  
  .title
  {
    border-radius:0px;
  }
}
